DATABASE_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION_TIME=

ENABLED_ORIGINS=

AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=region
AWS_S3_BUCKET_NAME=your_bucket_name_here